html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
ul, li{
    list-style: none;
    padding: 0;
    display: inline;
}
.container{
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}










